
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f0e4; 
    color: #2c2a28; 
}

.header {
    background-color: #6b4226; 
    color: white;
    text-align: center;
    padding: 15px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    flex-wrap: wrap;
}

.menu-item {
    background-color: #fff6e6; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 250px;
    text-align: center;
    padding: 15px;
    transition: transform 0.3s ease;
}

.menu-item:hover {
    transform: scale(1.05);
}

.menu-item img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.menu-item h2 {
    color: #a97142;
    margin: 10px 0;
}

.footer {
    background-color: #6b4226;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}